<div class="pt-2 pr-2 pl-2 pb-1">

  <div class=" pt-4 justify-around bg-gray-400 flex">

    <div>
      <div class="py-2">
        <label class="pr-12">Username:</label>
        <input class="rounded-full" type="text" #username>
      </div>
      <div class="py-2">
        <label class="pr-11">First Name:</label>
        <input class="rounded-full" type="text" #firstName>
      </div>
      <div class="py-2">
        <label class="pr-11">Last Name:</label>
        <input class="rounded-full" type="text" #lastName>
      </div>
      <div class="py-2">
        <label class="pr-3">Phone Number:</label>
        <input class="rounded-full" type="text" #phoneNumber>
      </div>
      <div class="py-2">
        <label class="pr-9">Phone Type:</label>
        <input class="rounded-full" type="text" #phoneType>
      </div>
      <div class="pt-2 pb-4">
        <button class="p-2 rounded-full bg-gray-100" (click)="add(username.value, firstName.value,
          lastName.value, phoneNumber.value, phoneType.value);">
          Add User
        </button>
      </div>
    </div>

    <div>
      <div class="py-2">
        <label class="pr-12">Username:</label>
        <input class="rounded-full" type="text" #username2>
      </div>
      <div class="py-2">
        <label class="pr-3">Phone Number:</label>
        <input class="rounded-full" type="text" #phoneNumber2>
      </div>
      <div class="py-2">
        <label class="pr-9">Phone Type:</label>
        <input class="rounded-full" type="text" #phoneType2>
      </div>
      <div class="pt-2 pb-4">
        <button class="p-2 rounded-full bg-gray-100" (click)="addPhone(username2.value, phoneNumber2.value,
          phoneType2.value)">
          Add Phone</button>
      </div>
    </div>

    <div class="pl-96 py-2">
      <button class="p-2 rounded-full bg-gray-100" (click)="reset()">Reset</button>
    </div>

  </div>

</div>

<div>

  <div class="pt-1 pr-2 pl-2 pb-1">
    <div class="text-xl py-4 bg-gray-200">
      <table>
        <tr class="text-blue-500">
          <th class="px-8">Username</th>
          <th class="px-8">First name</th>
          <th class="px-8">Last name</th>
          <th class="px-8">Phone Number</th>
          <th></th>
          <th class="px-8">Phone Type</th>
          <th></th>
          <th class="px-8">Status</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let User of users">
          <td class="px-8">{{User.username}}</td>
          <td class="px-8">{{User.firstName}}</td>
          <td class="px-8">{{User.lastName}}</td>
          <td class="block px-8" *ngFor="let Phone of User.phone">{{Phone.phoneNumber}}</td>
          <td></td>
          <td class="block px-8" *ngFor="let Phone of User.phone">{{Phone.phoneType}}</td>
          <td></td>
          <td class="block px-8" *ngFor="let Phone of User.phone">{{Phone.status}}</td>
          <td></td>
          <td class="block px-8" *ngFor="let Phone of User.phone">
            <button routerLink="/verify" class="bg-green-300 px-2 rounded-full" (click)="storeUserVerify(User, Phone.phoneNumber, Phone.phoneType, Phone.status)">verify</button>
          <td class="pl-8">
            <button routerLink="/edit" class="bg-blue-300 px-2 rounded-full" (click)="storeUser(User)">edit</button>
          </td>
          <td>
            <button class="bg-red-300 px-2 rounded-full" (click)="delete(User)">remove</button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="pt-8">
  </div>

</div>
